tomcat

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# eclipse project file
.settings/
.metadata/
.classpath
.project

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/hibernate.iml
/hibernate-hello-world/hibernate-hello-world.iml
/hibernate-mappings/hibernate-mappings.iml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_12_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_12_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_12_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_12_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_12_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_12_3.xml
/.idea/libraries/Maven__com_h2database_h2_2_0_206.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_5_0.xml
/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_12.xml
/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_4_0_3.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_25.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_10.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_22.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_11_20.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_22.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_7.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_7.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_14_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_14_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_46.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_46.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_46.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_6.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_19_0.xml
/.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_4.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_4.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_17_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_31_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_6_1_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/.idea/libraries/Maven__org_javassist_javassist_3_27_0_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_2_1_3_Final.xml
/.idea/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_2.xml
/.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/.idea/libraries/Maven__org_mockito_mockito_core_3_9_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_9_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_5_0.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_5_0.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_5_1.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_5_1.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_orm_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_7.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_7.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_8_2.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_28.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/hibernate-basics/hibernate-basics.iml
/jakarta-persistence-examples/jakarta-persistence-examples.iml
/hibernate-mappings/src/main/resources/logback.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_3_0_1.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_1.xml
/.idea/libraries/Maven__javax_cache_cache_api_1_0_0.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_9.xml
/.idea/libraries/Maven__net_sf_ehcache_ehcache_2_10_6.xml
/.idea/libraries/Maven__org_antlr_antlr4_runtime_4_10.xml
/.idea/libraries/Maven__org_ehcache_ehcache_3_9_9.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_6_0_1_Final.xml
/.idea/libraries/Maven__org_hibernate_orm_hibernate_core_6_0_1_Final.xml
/.idea/libraries/Maven__org_hibernate_orm_hibernate_ehcache_6_0_0_Alpha7.xml
/.idea/libraries/Maven__org_hibernate_orm_hibernate_jcache_6_0_0_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_launcher_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_api_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_suite_engine_1_8_2.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_22.xml
